@page
@model NoteTaker.Pages.NoteEditorModel
@{
}


<div class="app">

    <div id="Sidebar">

        <div class="Sections">
            <div id="current_book" class="section  side_nav_item">
                <p class="side_nav_item_content">Section 1</p>
            </div>
            <div class="section side_nav_item">
                <p class="side_nav_item_content">Section 2</p>
            </div>
            <div class="section side_nav_item">
                <p class="side_nav_item_content">Section 3</p>
            </div>
        </div>

        <div class="Boards">
            <div class="board side_nav_item">
                <p class="side_nav_item_content">Outline</p>
            </div>
            <div class="board side_nav_item">
                <p class="side_nav_item_content">World Notes</p>
            </div>
            <div class="board side_nav_item">
                <p class="side_nav_item_content">Characters</p>
            </div>
        </div>

    </div>

    <div id="Noteboard">

        <div id="note1" class="note">

            <div class="note-header">

            </div>

            <div class="note-content">
                <textarea  class="note-input">this is some content</textarea>
            </div>

            <div class="note-handle">
            </div>
        </div>

    </div>
</div>