@page
@model NoteTaker.Pages.NoteEditorModel
@{
}


<div class="app">

    <div id="Sidebar">

        <div class="Sections">
            <div id="current_book" class="section  side_nav_item">
                <p class="side_nav_item_content">Section 1</p>
            </div>
            <div class="section side_nav_item">
                <p class="side_nav_item_content">Section 2</p>
            </div>
            <div class="section side_nav_item">
                <p class="side_nav_item_content">Section 3</p>
            </div>
        </div>

        <div class="Boards">
            <div class="board side_nav_item">
                <p class="side_nav_item_content">Outline</p>
            </div>
            <div class="board side_nav_item">
                <p class="side_nav_item_content">World Notes</p>
            </div>
            <div class="board side_nav_item">
                <p class="side_nav_item_content">Characters</p>
            </div>
        </div>

    </div>

    <div id="Noteboard">

        <div id="note1" class="note">
            <p>This is some note content.</p>
        </div>

        <div id="note2" class="note">
            <p>This is some more note content. Note that this note is a pretty long note.</p>
        </div>

        <div id="note3" class="note">
            <p>
                During a routine audit MC finds that explosives, a small firearm, and some ammo have gone
                missing(its found one of the researchers had broken in the weapons locker to arm himself). 
                The Gauss rifle is still there(heavy damage, heavy power consumption. Not really sure why it was here, 
                apparently the previous security manager was “better safe the sorry”). He isn’t sure where 
                the explosives have gone..
            </p>
        </div>

    </div>
</div>